body {
  margin: 0px;
  /*background-color: #BBDEFB;*/
}

#clock {
  margin: 0px;
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 22px 38px rgba(0,0,0,0.30), 0 -5px 12px rgba(0,0,0,0.22);
  background-color: white;
}
 #center-circle {
  position: relative;
  left: 50%;
  top: 50%;
  height: 5px;
  width: 5px;
  background-color: black;
  border-radius: 50%;
}

.hand {
  background: black;
  width: 95;
  height: 1px;
  position: relative;
  left: 50%;
  top: 50%;
  transform-origin: 0% 50%;
}

#hour {
  width: 75;
}

#minute {
  width: 85;
}

#second {
  width: 88;
  background-color: red;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
}
